.story{
  padding: 5rem 5rem 5rem 8rem;
  width: 80%;
  margin: 0 auto;
  background-color: rgba($color-white,.8);
  position: relative;
  @include componet-styles;
  transform: skewX(-12deg);
  &>*{
    transform: skewX(12deg);
  }
  &__shape{
    transform: translateX(-3rem) skewX(12deg);
   clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float: left;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
  }
  &__caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    font-size: $font-size-default;
    color: $color-white;
    transition: all .3s;
  }

  &:hover &__caption{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__img{
    transform: translateX(-3rem) scale(1.4);
    height: 100%;
    transition: all .3s;
  }
  &:hover &__img{
    transform: translateX(-3rem) scale(1);
    filter: blur(3px);
  }
  &__text-box{

  }

  &__heading{

  }

  &__text{


  }
}
